body {
    text-align: center;
}

table {
    margin: 45px auto auto auto;
}

img.face {
    border: 5px solid;
    padding: 5px;
}

.inactive img {
    opacity: 0.4;
}

.loggedin img {
    border: 5px solid blue;
}

[name=extra_time]{
    width: 40px;
    display: inline-block;
}


.notdone {
    background-color: #f88;
}

.done {
    background-color: #8f8;
}

.doitnow {
    width: 70px;
    height: 70px;
}
