body {
    text-align: center;
}

table {
    margin: 45px auto auto auto;
}

img.face {
    border: 5px solid;
    padding: 5px;
}

.admin .inactive img {
    opacity: 0.4;
}

.index .inactive img {
    opacity: 0.6;
}

.loggedin img {
    border: 5px solid blue;
}

[name=extra_time]{
    width: 40px;
    display: inline-block;
}


.notdone {
    background-color: #f88;
}

.done {
    background-color: #8f8;
}

.doitnow {
    width: 70px;
    height: 70px;
}

.inactive .lockbutton {
    display: none;
}

tr.lock {
    padding-bottom: 20px;
    height: 50px;
}


.dishes {
    background: url('./img/dishes.png');
}

.garbage {
    background: url('./img/garbage.png');
}

.laundry {
    background: url('./img/laundry.png');
}

.toys {
    background: url('./img/toys.png');
}

.chore {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: middle middle;
    color: rgba(0,0,0,0);
}

td.spending:before,td.tithing:before,td.savings:before {
    content: '$';
}

td.empty:before {
    content: '' !important;
}

td.moneyform,
td.extra,
td.morning,
.index td.spending,
.index td.time_left,
.admin tr.loggedin td,
.admin tr.loggedin th
{
    padding-top: 20px;
}
